<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4">

        <div class="ion-text-center ion-margin-top ion-padding-top">
          <img src="assets/nirvign-logo.png" alt="Nirvign" class="app-logo" />
          <p color="medium">Sign in to your account</p>
        </div>

        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" [(ngModel)]="email" autocomplete="email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [(ngModel)]="password" (keyup.enter)="login()"></ion-input>
            </ion-item>

            <ion-button expand="block" class="ion-margin-top" (click)="login()">
              <ion-icon name="log-in-outline" slot="start"></ion-icon>
              Login
            </ion-button>

            <div class="ion-text-center ion-padding-vertical">
              <ion-text color="medium">OR</ion-text>
            </div>

            <ion-button expand="block" color="light" (click)="googleSignIn()">
              <ion-icon name="logo-google" slot="start"></ion-icon>
              Sign in with Google
            </ion-button>

            <p class="ion-text-center ion-margin-top">
              Don't have an account? <a routerLink="/register">Register</a>
            </p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
